.navbar-container {
    display: flex;
    justify-content: center;
    background-color: rgba(140, 140, 140);
    border-bottom: 2px solid black;
    padding: 5px 0 5px 0;
}

.navbar-container > * {
    border: 1px solid black;
    margin: 0 8vw 0 8vw;
    width: 15vw;
    height: auto;
    border-radius: 20px;
}

.navbar-container > *:hover {
    background-color: white;
}